* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
 
   
}
 body{

    background-color:white;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #00529F;
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 0.9;
}

.header-logo {
    margin-left: 20px;
    margin-top: 5px;
    width: 50px;
    height: 80%;
}

.header-inputfield {
    border-radius: 25px;
    margin-left: 20px;
    width: 250px;
    height: 40px;
    margin-top: -58px;
}

.header-searchbar {
    margin-left: -242px;
    margin-top: -32px;
}

.header-links {
    list-style: none;
    float: right;
    margin-right: 80px;
}

.header-links li {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 28px;
    margin-left: 45px;
    margin-top: 12px;
    cursor: pointer;
}

.header-links a {
    color: #fff;
    text-decoration: none;
}

.header-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
background-color: #D4AF37;
    transition: 0.3s ease-in-out;
}

.header-links li:hover::after {
    width: 100%;
}

.hiddenblog {
    display: none;
    position: absolute;
    left: 30;
    background: #00529F;
    padding: 15px;
    list-style: none;
    min-width: 120px;
    border-radius: 8px;
    z-index: 200;
}

.blog:hover .hiddenblog {
    display: block;
}

.hiddenblog li {
    margin: auto;
    display: block;
}

.hiddenblog a {
    display: block;
    padding: 10px 20px;
    text-align: center;
}

.We {
    width: 100%;
    height: 100vh;
    background-image: url(../Images/stad.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
}

.We-overlay {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.We-content {
    text-align: center;
    width: 60%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.We-h2 {
    font-size: 74px;
    text-transform: uppercase;
}

.We-p {
    margin-top: 10px;
    font-size: 24px;
    opacity: 0.8;

}

.We-btn {
    border: none;
    font-size: 26px;
    border-radius: 14px;
    width: 150px;
    height: 65px;
    margin-left: 5px;
    margin-top: 14px;
}

.We-btn-1 {
    background-color: #00529F;
    transition: opacity 0.3s ease;
}

.We-btn-2 {
    background-color: #ffffff;
    transition: opacity 0.3s ease;
}

.We-btn-1:hover,
.We-btn-2:hover {
    opacity: 0.7;
}
.Whatwedo-container {
    background-color: #FFFFFF;
    width: 100%;
    min-height: 900px;
}

.Whatwedo-parent {
    padding: 8px;
    text-align: center;
    overflow: auto;
}
.Whatwedo-h2 {
    word-spacing: 7px;
        font-size: 60px;
        margin: 80px 0 10px 0;
        color: #0052A0;
}
.Whatwedo-hr {
    width: 200px;
        background-color: #FFD700;
        height: 4px;
        margin: 10px auto 0 auto;
        border: none;
}
.Whatwedoone,
.Whatwedotwo,
.Whatwedothree {
    float: left;
    width: 24%;
    height: 300px;
    border-radius: 10px;
border: 2px solid #D4AF37;
    margin-top: 90px;
    margin-left: 6.5%;
    position: relative;
    background-color: #FFFFFF;
}

.Whatwedoone {
    margin-left: 6.5%;
}

.Whatwedothree {
    margin-right: 6.5%;
}
.Whatwedofootball
{
    font-size:50px;
    margin-top: 15px;
    margin-bottom: 20px;

}
.WhatwedoSecondh2
{
    font-size: 40px;
    text-align: center;
    color: #0052A0;
}
.Whatwedop
{
    margin-top: 16px;
    font-size: 25px;
  
    margin-bottom: 30px;
    color: rgb(109, 108, 108);

}
.Whatwedoa
{
    
     text-decoration: none;
    font-size: 25px;
    color:black;
    cursor: pointer;
    
}
.Whatwedoone::after,
.Whatwedotwo::after,
.Whatwedothree::after {
    content: "";
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 0;
background-color: rgba(0, 82, 160, 0.4);
    pointer-events: none;
   opacity: 0;
  
}

.Whatwedoone:hover::after,
.Whatwedotwo:hover::after,
.Whatwedothree:hover::after {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: 1s;
}

.Whatwedoone:hover .WhatwedoSecondh2,
.Whatwedotwo:hover .WhatwedoSecondh2,
.Whatwedothree:hover .WhatwedoSecondh2 {
    color: #D4AF37;
   
}

.Whatwedoone:hover .Whatwedop,
.Whatwedotwo:hover .Whatwedop,
.Whatwedothree:hover .Whatwedop {
color: #0052A0;
}

.Ourlegends-Container {
    width: 100%;
    min-height: 950px;
    background-color: #E6F0FA;

}
.Ourlegends-Parent {
    padding: 8px;
    text-align: center;
    overflow: auto;
}
.Ourlegends-h2 {
    word-spacing: 7px;
    font-size: 80px;
    margin: 30px 0 10px 0;
    color: #0052A0;
}
.Ourlegends-hr {
    width: 170px;
    background-color: #D4AF37;
    height: 4px;
    margin: 10px auto 0 auto;
    border: none;
}
.Ourlegends-One,
.Ourlegends-Two,
.Ourlegends-Three {
    float: left;
    width: 24%;
    height: 300px;
    margin-top: 80px;
    margin-left: 4%;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s;
}
.Ourlegends-Four,
.Ourlegends-Five,
.Ourlegends-Six {
    float: left;
    width: 24%;
    height: 300px;
    margin-top: 50px;
    margin-left: 4%;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s;
}
.Ourlegends-One {
    margin-left: 10%;
    background-image: url(../Images/zidane.jpeg);
    background-size: cover;
   
}
.Ourlegends-Two {
    background-image: url(../Images/Raul.jpeg);
    background-size: cover;
   
}
.Ourlegends-Three {
    margin-right: 10%;
    background-image: url(../Images/Hierro.JPEG);
    background-size: cover;
}
.Ourlegends-Four {
    margin-left: 10%;
    background-image: url(../Images/Roberto.JPEG);
    background-size: cover;
  
}
.Ourlegends-Five {
    background-image: url(../Images/guti.jpeg);
    background-size: cover;
    
}
.Ourlegends-Six {
    margin-right: 10%;
    background-image: url(../Images/nazario.jpeg);
    background-size: cover;
    background-position: center;
}
.Ourlegends-One::after,
.Ourlegends-Two::after,
.Ourlegends-Three::after,
.Ourlegends-Four::after,
.Ourlegends-Five::after,
.Ourlegends-Six::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 82, 160, 0.6);
    opacity: 0;
    border-radius: 10px;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    z-index: 1;
}

.Ourlegends-One:hover::after,
.Ourlegends-Two:hover::after,
.Ourlegends-Three:hover::after,
.Ourlegends-Four:hover::after,
.Ourlegends-Five:hover::after,
.Ourlegends-Six:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.Ourlegends-Hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFD700;
    opacity: 0; 
    transition: opacity 0.5s;
    z-index: 2;
}

.Ourlegends-One:hover .Ourlegends-Hidden,
.Ourlegends-Two:hover .Ourlegends-Hidden,
.Ourlegends-Three:hover .Ourlegends-Hidden,
.Ourlegends-Four:hover .Ourlegends-Hidden,
.Ourlegends-Five:hover .Ourlegends-Hidden,
.Ourlegends-Six:hover .Ourlegends-Hidden {
    opacity: 1;
}
.Ourlegends-Hidden a
{
    cursor: pointer;
}
.Ourlegends-hiddenh3 {
    font-size: 40px;
    text-transform: uppercase;
    color: #FFD700;
}
.Ourlegends-hiddenP {
    font-size: 24px;
    margin-top: 10px;
    color: #FFFFFF;

}
.Ourlegends-hiddentwitter {
    font-size: 30px;
    margin-top: 10px;
    color: #FFD700;
}
.Whychooseus-Container {
    width: 100%;
    min-height: 1900px;
    background-color: #FFFFFF;
}

.Whychooseus-Parent {
    overflow: auto;
   
}
.Whychooseus-h2 {
    word-spacing: 0;
    font-size: 60px;
    margin: 80px 0 10px 0;
    color: #0052A0;
    text-align: center;
    text-transform: capitalize;

}
.Whychooseus-p {
    width: 250px;
    background-color: #FFD700;
    height: 4px;
    margin: 10px auto 0 865px;
    border: none;
    
}
.Whychooseus-One,
.Whychooseus-Two,
.Whychooseus-Three,
.Whychooseus-Four,
.Whychooseus-Five,
.Whychooseus-Six {
    float: left;
    width: 24%;
    height: 300px;
    margin-top: 40px;
    margin-left: 5%;
    border-radius: 10px;
    position: relative;
    background-color: #FFFFFF;
    color: #0052A0;
    border: 2px solid #0052A0;
    box-sizing: border-box;
padding-left: 9px;
    padding-right: 17px;
}
.Whychooseus-One:after,
.Whychooseus-Two:after,
.Whychooseus-Three:after,
.Whychooseus-Four:after,
.Whychooseus-Five:after,
.Whychooseus-Six:after {
content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
background-color: rgba(0, 82, 160, 0.3);
    opacity: 0;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}
.Whychooseus-One:hover::after,
.Whychooseus-Two:hover::after,
.Whychooseus-Three:hover::after,
.Whychooseus-Four:hover::after,
.Whychooseus-Five:hover::after,
.Whychooseus-Six:hover::after
{
    width: 100%;
        height: 100%;
        opacity: 0.8;
    }

.Whychooseus-One,
.Whychooseus-Four {
    margin-left: 9%;
}
.Whychooseus-One:hover .Whychooseus-secondh2,
.Whychooseus-Two:hover .Whychooseus-secondh2,
.Whychooseus-Three:hover .Whychooseus-secondh2,
.Whychooseus-Four:hover .Whychooseus-secondh2,
.Whychooseus-Five:hover .Whychooseus-secondh2,
.Whychooseus-Six:hover .Whychooseus-secondh2
{
    color:black;
}
.Whychooseus-One:hover .Whychooseus-secondp,
.Whychooseus-Two:hover .Whychooseus-secondp,
.Whychooseus-Three:hover .Whychooseus-secondp,
.Whychooseus-Four:hover .Whychooseus-secondp,
.Whychooseus-Five:hover .Whychooseus-secondp,
.Whychooseus-Six:hover .Whychooseus-secondp {
    color:#0052A0;
   
}

.Whychooseus-Three,
.Whychooseus-Six {
    margin-right: 9%;
}
.Whychooseus-Four,
.Whychooseus-Five,
.Whychooseus-Six {
    margin-top: 60px;
}
.Whychooseus-icon {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 42px;
    color: #FFD700;
}
.Whychooseus-secondh2 {
    font-size: 42px;
    margin-left: 90px;
    margin-top: 23px;
    color: #0052A0;
    font-weight: bold;
}

.Whychooseus-secondp {
    font-size: 27px;
    margin-left: 90px;
    margin-top: 10px;

color:black;
}
.Whytrustus-bigdiv {
    height: 650px;
    width: 82%;
    border: 2px solid #FFFFFF;
    margin: auto;
    margin-top: 220px;
    overflow: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.Whytrustus-smalleftdiv {
    width: 50%;
    height: 100%;
    /* border: 2px solid #0052A0; */
    float: left;
    padding-top: 50px;
}

.Whytrustus-smallrightdiv {
    width: 50%;
    height: 100%;
    /* border: 2px solid #FFD700; */
    float: left;
    overflow: auto;
}

.Whytrustus-h2 {
    font-weight: bold;
    font-size: 50px;
    word-spacing: 5px;
    text-transform: capitalize;
    color: #0052A0;
}

.Whytrustus-hr {
    width: 90px;
    background-color: #FFD700;
    height: 4px;
    margin-top: 10px;
}

.Whytrustus-text {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 60px;
    /* color: #333333; */
   
}

.Whytrustus-check {
    color: #0052A0;
    font-size: 24px;
}

.Whytrustus-span {
    font-size: 24px;
}

.Whytrustus-img {
    width: 500px;
    height: 600px;
    margin-left: 282px;
}

.Whytrustus-circle1,
.Whytrustus-circle2,
.Whytrustus-circle3 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #0052A0;
    /* RM blue dots */
    float: left;
    margin-top: 14px;
}

.Whytrustus-circle1 {
    margin-left: 470px;
}

.Whytrustus-circle2,
.Whytrustus-circle3 {
    margin-left: 15px;
    background-color: #CCCCCC;
}
.Whytrustus-circle2:hover,
.Whytrustus-circle3:hover {
    background-color: #0052A0;
}
.trophies-container {
    width: 100%;
    height: 550px;
    background-image: url(../Images/ucl.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.trophies-parent {
    overflow: auto;
    width: 80%;
    margin: auto;
}

.trophies-icon-div {
    text-align: center;
    width: 25%;
    height: 100%;
    float: left;
    padding-top: 200px;
    
}

.trophy-icon {
 
    font-size: 50px;
    color: #FFD700; 
}

.trophy-firsttext {
    margin-top: 10px;
    font-size: 30px;
    color: white; 
    font-weight: bold; 
}

.trophy-secondtext {
    margin-top: 3px;
    font-size: 30px;
    color: white; 
    font-weight:bold;
}
.Prices-container {
    width: 100%;
    height: 1050px;
    background-color: #FFFFFF;
}

.Prices-parent {
    overflow: auto;
}

.Prices-title {
    font-size: 55px;
    margin-top: 150px;
    text-align: center;
    color: #0052A0;
    word-spacing: 0;
}

.Prices-hr {
    width: 230px;
    background-color: #FFD700;
    height: 4px;
    margin: 10px auto  0 auto;
}

.Prices-div1,
.Prices-div2,
.Prices-div3 {
    position: relative;
    margin-top: 70px;
    height: 500px;
    width: 22%;
    float: left;
    margin-left: 5%;
    border: 2px solid #0052A0;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFFF;
}

.Prices-div1 {
    margin-left: 12%;
}

.Prices-div3 {
    margin-right: 12%;
}

.prices-h2 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 600;
    color: black;
}

.Prices-circle {
    border-radius: 50%;
    width: 140px;
    height: 140px;
border: 3px solid rgba(0, 82, 160, 0.7);
    padding-top: 30px;
    font-size: 22px;
    color: #FFFFFF;
    margin: auto;
    margin-top: 25px;
}

.Prices-circle-p {
    font-size: 55px;
    font-weight: bold;
    margin-top: -15px;
    color:black;
}

.prices-month {
    font-size: 28px;
    color:black;
    margin-top: -10px;
}

.prices-text {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 20px;
    color:black;

}

.Prices-button {
    margin-top: 30px;
    width: 210px;
    height: 40px;
    font-size: 22px;
    border: 2px solid #0052A0;
    border-radius: 10px;
    color: black;
}
.Prices-div1::after,.Prices-div2::after,.Prices-div3::after
{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            opacity: 0;
            transition: 0.5s;
}
.Prices-div1:hover::after,.Prices-div2:hover::after,.Prices-div3:hover::after
{
    width: 100%;
        height: 100%;
        opacity: 0.8;
        background-color: rgba(0, 82, 160, 0.3);
     
}
.Prices-div1:hover .Prices-button,
.Prices-div2:hover .Prices-button,
.Prices-div3:hover .Prices-button
{
   position: relative;
   z-index: 22;
}
.Prices-div1:hover .Prices-circle,
.Prices-div2:hover .Prices-circle,
.Prices-div3:hover .Prices-circle {
    border: 3px solid rgba(0, 82, 160, 1);
}
.Prices-div1:hover .prices-h2,
.Prices-div2:hover .prices-h2,
.Prices-div3:hover .prices-h2{
   color:#0052A0
}
.heads-container
{
    width: 100%;
    height:600px;
background-image: url(../Images/team2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heads-parent
{
    overflow: auto;
}
.heads-left,.heads-right {
    position: relative;
    height: 100%;
    width: 40%;
    text-align: center;
    float: left;
   
}
.heads-right{
    margin-left: 20px;
}
.heads-content-div
{
       position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:1000px;
        padding-top: 50px;
        
}

 .heads-xabi {
    width:130px;
    position: absolute;
    height:130px;
    border-radius: 50%;
    margin-left:-100px;
    margin-top: -50px;
    border: 3px solid #FFD700;
} 
.heads-name,.heads-name-2
{
    font-size: 40px;
    margin-top: -20px;
   
        color: #FFD700;
            font-weight: bold;

}
.heads-name
{
margin-left: 340px;
}
.heads-name-2 {
    margin-left: 420px;
}
.heads-p
{
    line-height: 29px;
    margin-left: 400px;
    color: #FFFFFF;
        /* light gray for paragraph */
    font-size: 20px;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: left;
}
.heads-title2,.heads-title2-2
{
    margin-top: 5px;
    color:blanchedalmond;
    font-size: 30px;
}
.heads-title2
{
    margin-left: 220px;
}
.heads-title2-2 {
    margin-left: 255px;
}

.our-team-container
{
    padding-top: 120;
    width:80%;
    height: 900px;
    margin:auto;  
    background-color: white;
}
 .our-team-parent
{
overflow: auto;
}
  .our-team-h2
{
    word-spacing: 10px;
        font-size: 60px;
        margin-top: 30px;
        color: #0052A0;
        text-align: center;
        text-transform: capitalize;
} 
.our-team-hr
{
    width: 170px;
        background-color: #FFD700;
        height: 4px;
        margin: 10px auto 0 auto;
}
.our-team-child1,.our-team-child2,.our-team-child3
{
        /* background: linear-gradient(to bottom right, #0052A0, #ffffff); */
        /* background: linear-gradient(to bottom right, #F5F5F5, #E0E0E0); */
        background-color: #D9D9D9;
            border: 4px solid #D4AF37;
            position: relative;
            float: left;
            height: 480px;
            border-radius: 20px;
            width: 30%;
            margin-top: 80px;
            padding: 30px 10px;
            
}
.our-team-child1:after,.our-team-child2:after,.our-team-child3:after
{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        width: 100%;
        height: 0%;
        opacity: 0;
        transition: 0.5s;
}
.our-team-child1:hover::after,.our-team-child2:hover::after,.our-team-child3:hover::after
{
width: 100%;
    height: 100%;
    opacity: 0.5;
background-color: rgba(0, 0, 0, 0.6);

}

.our-team-child2
{
    margin-left: 5%;
    margin-right: 5%;
}
.our-team-img
{
    width: 90%;
        margin: auto;
        position: relative;
}
.our-team-actual-img
{
  
width: 100%;
height:300px;

}
.our-team-icons
{
position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);

    visibility: hidden;
}
.our-team-child1:hover .our-team-icons,
.our-team-child2:hover .our-team-icons,
.our-team-child3:hover .our-team-icons {
    visibility: visible;
}
.our-team-child1:hover .our-team-player-name,
.our-team-child2:hover .our-team-player-name,
.our-team-child3:hover .our-team-player-name {
color: #D4AF37;
  
}
.our-team-child1:hover .our-team-player-info,
.our-team-child2:hover .our-team-player-info,
.our-team-child3:hover .our-team-player-info {
color: #0052A0;
}
.our-team-icons a
{
       display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        margin-left: auto;
       
}
.our-team-icons a i {
    line-height: 60px;
    font-size: 30px;
}
.our-team-info
{
    text-align: center;
    padding-top: 20px;
}
.our-team-player-name {
    font-size: 30px;
color: #0052A0;
    font-weight: bold;
}
.our-team-player-info
{
margin-top: 20px;
    font-size: 30px;
    color: black;
}
.recent-news-container
{
    width: 80%;
        height: 900px;
        margin: auto;
       
}
.recent-news-title
{
word-spacing: 10px;
    font-size: 70px;
    margin-top: 80px;
    color: #0052A0;
    text-align: center;
    text-transform: capitalize;
}
.recent-news-hr
{
width: 170px;
    background-color: #FFD700;
    height: 4px;
    margin: 10px auto 0 auto;
}
.recent-news-child1,.recent-news-child2,.recent-news-child3
{
    background-color: white;
        border: 2px solid #D4AF37;
        position: relative;
        float: left;
        height: 660px;
        border-radius: 20px;
        width: 30%;
        margin-top: 80px;
        padding: 30px 10px;
        overflow: hidden;
        z-index: 0;
}
.recent-news-child2
{
    margin-left:  5%;
    margin-right: 5%;
}
.recent-news-child1:after,.recent-news-child2:after,.recent-news-child3:after
{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        transition: 0.5s;
    background-color: rgba(10, 30, 64, 0.4);
        z-index: 1;
        
}
.recent-news-child1:hover::after,.recent-news-child2:hover::after,.recent-news-child3:hover::after
{
height: 100%;
    opacity: 0.5;
}
.recent-news-child1:hover .recent-news-info-h2,
.recent-news-child2:hover .recent-news-info-h2,
.recent-news-child3:hover .recent-news-info-h2
{
color: #0A1E40;
}
.recent-news-child1:hover .recent-news-info-p,
.recent-news-child2:hover .recent-news-info-p,
.recent-news-child3:hover .recent-news-info-p
{
    
color: black
}
.recent-news-image
{
width: 80%;
    margin: auto;
    height: 350px;
    position: relative;
    z-index: 2;
     
}
.recent-news-child1:hover span,
.recent-news-child2:hover span,
.recent-news-child3:hover span {
    color:#0052A0;
   
}

.recent-news-actual-img
{
    width: 100%;
        height: 350px;
        border-radius: 10px;
}
.recent-news-icons
{
    padding-top:20;
    overflow: auto;
    width: 80%;
    margin: auto;
  
}
.recent-news-icons a
{
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.recent-news-icon-div1,.recent-news-icon-div2,.recent-news-icon-div3
{
    float: left;
    width:30%;
    text-align: center;
    font-size: 24px;
    padding-top: 8;
}
.recent-news-icon-div2
{
    margin-left: 5%;
    margin-right: 5%;
}
.recent-news-icons span
{
    font-weight:bold;
}
.recent-news-icons i {
    color: #0A1E40;
}
.recent-news-info
{
    margin-top: 15px;
    
}
.recent-news-info-h2
{
    font-size: 30px;
    text-align: center;
}
.recent-news-info-p
{
    margin-top: 20px;
    font-size: 22px;
    color: #4A4A4A;
    margin-bottom: 20px;
    text-align: center;
    
}
.recent-news-info-a
{
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.recent-news-child1:hover .recent-news-info-a,
.recent-news-child2:hover .recent-news-info-a,
.recent-news-child3:hover .recent-news-info-a{
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.footer-container {
    margin-top: 60px;
    width: 100%;
    border-radius: 4px;
    height: 550px;
    background-color: #0B1C3D;
    /* deep royal blue */
}
.footer-image
{
    
   
    margin:auto;
    width:80%;
    text-align: center;

    padding-bottom: 20;
}
.footer-actual-img
{
    margin-top: 30px;
    width:350px;
    height:350px;
    border-radius:10px;
        border: 2px solid #D4AF37;
}
.footer-icons ul
{
list-style: none;
text-align: center;
    
}
.footer-icons
{
   width:60%;
   margin:auto;
   margin-top: 4px;
   
}
.footer-icons li 
{
        display: inline-block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: rgba(212, 175, 55, 0.6);
            color: #ffffff;
            font-size: 40px;
            text-align: center;
            transition: background-color 0.3s ease;
}
.footer-icons i
{
    line-height: 80px;
}
.footer-icons li:hover {
    background-color: rgba(212, 175, 55, 1);
}
.copyright
{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}


      