* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
 
   
}
 body{
    height:6000px;
    background-color: green;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #00529F;
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 0.8;
}

.header-logo {
    margin-left: 20px;
    margin-top: 5px;
    width: 50px;
    height: 80%;
}

.header-inputfield {
    border-radius: 25px;
    margin-left: 20px;
    width: 250px;
    height: 40px;
    margin-top: -58px;
}

.header-searchbar {
    margin-left: -242px;
    margin-top: -32px;
}

.header-links {
    list-style: none;
    float: right;
    margin-right: 80px;
}

.header-links li {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 28px;
    margin-left: 45px;
    margin-top: 12px;
    cursor: pointer;
}

.header-links a {
    color: #fff;
    text-decoration: none;
}

.header-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: 0.3s ease-in-out;
}

.header-links li:hover::after {
    width: 100%;
}

.hiddenblog {
    display: none;
    position: absolute;
    left: 30;
    background: #00529F;
    padding: 15px;
    list-style: none;
    min-width: 120px;
    border-radius: 8px;
    z-index: 200;
}

.blog:hover .hiddenblog {
    display: block;
}

.hiddenblog li {
    margin: auto;
    display: block;
}

.hiddenblog a {
    display: block;
    padding: 10px 20px;
    text-align: center;
}

.We {
    width: 100%;
    height: 100vh;
    background-image: url(../Images/stad.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
}

.We-overlay {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.We-content {
    text-align: center;
    width: 60%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.We-h2 {
    font-size: 70px;
    text-transform: uppercase;
}

.We-p {
    margin-top: 10px;
    font-size: 24px;
    opacity: 0.8;

}

.We-btn {
    border: none;
    font-size: 20px;
    border-radius: 10px;
    width: 130px;
    height: 55px;
    margin-left: 14px;
    margin-top: 10px;
}

.We-btn-1 {
    background-color: #00529F;
}

.We-btn-1:hover,
.We-btn-2:hover {
    background-color: rgba(255, 235, 205, 0.5);
}

.Whatwedo-container {
    background-color: #FFFFFF;
    width: 100%;
    min-height: 900px;
}

.Whatwedo-parent {
    padding: 8px;
    text-align: center;
    overflow: auto;
}
.Whatwedo-h2 {
    word-spacing: 7px;
        font-size: 60px;
        margin: 80px 0 10px 0;
        color: #0052A0;
}
.Whatwedo-hr {
    width: 200px;
        background-color: #FFD700;
        height: 4px;
        margin: 10px auto 0 auto;
        border: none;
}
.Whatwedoone,
.Whatwedotwo,
.Whatwedothree {
    float: left;
    width: 24%;
    height: 300px;
    border-radius: 10px;
border: 2px solid #D4AF37;
    margin-top: 90px;
    margin-left: 6.5%;
    position: relative;
    background-color: #FFFFFF;
}

.Whatwedoone {
    margin-left: 6.5%;
}

.Whatwedothree {
    margin-right: 6.5%;
}
.Whatwedofootball
{
    font-size:50px;
    margin-top: 15px;
    margin-bottom: 20px;

}
.WhatwedoSecondh2
{
    font-size: 40px;
    text-align: center;
    color: #0052A0;
}
.Whatwedop
{
    margin-top: 16px;
    font-size: 25px;
    color: #0052A0;
    margin-bottom: 30px;
}
.Whatwedoa
{
    
     text-decoration: none;
    font-size: 25px;
    color:#D4AF37;
    
}
.Whatwedoone::after,
.Whatwedotwo::after,
.Whatwedothree::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 0;
background-color: rgba(0, 82, 160, 0.5);

   
   opacity: 0;
  
}

.Whatwedoone:hover::after,
.Whatwedotwo:hover::after,
.Whatwedothree:hover::after {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: 1s;
}
.Ourlegends-Container {
    width: 100%;
    min-height: 950px;
    background-color: #E6F0FA;

}
.Ourlegends-Parent {
    padding: 8px;
    text-align: center;
    overflow: auto;
}
.Ourlegends-h2 {
    word-spacing: 7px;
    font-size: 80px;
    margin: 30px 0 10px 0;
    color: #0052A0;
}
.Ourlegends-hr {
    width: 170px;
    background-color: #D4AF37;
    height: 4px;
    margin: 10px auto 0 auto;
    border: none;
}
.Ourlegends-One,
.Ourlegends-Two,
.Ourlegends-Three {
    float: left;
    width: 24%;
    height: 300px;
    margin-top: 80px;
    margin-left: 4%;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s;
}
.Ourlegends-Four,
.Ourlegends-Five,
.Ourlegends-Six {
    float: left;
    width: 24%;
    height: 300px;
    margin-top: 50px;
    margin-left: 4%;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s;
}
.Ourlegends-One {
    margin-left: 10%;
    background-image: url(../Images/zidane.jpeg);
    background-size: cover;
    /* background-position: center; */
}
.Ourlegends-Two {
    background-image: url(../Images/Raul.jpeg);
    background-size: cover;
    /* background-position: center; */
}
.Ourlegends-Three {
    margin-right: 10%;
    background-image: url(../Images/Hierro.JPEG);
    background-size: cover;
    /* background-position: center; */
}
.Ourlegends-Four {
    margin-left: 10%;
    background-image: url(../Images/Roberto.JPEG);
    background-size: cover;
    /* background-position: center; */
}
.Ourlegends-Five {
    background-image: url(../Images/guti.jpeg);
    background-size: cover;
    
}
.Ourlegends-Six {
    margin-right: 10%;
    background-image: url(../Images/nazario.jpeg);
    background-size: cover;
    background-position: center;
}
.Ourlegends-One::after,
.Ourlegends-Two::after,
.Ourlegends-Three::after,
.Ourlegends-Four::after,
.Ourlegends-Five::after,
.Ourlegends-Six::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 82, 160, 0.6);
    opacity: 0;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    z-index: 1;
}

.Ourlegends-One:hover::after,
.Ourlegends-Two:hover::after,
.Ourlegends-Three:hover::after,
.Ourlegends-Four:hover::after,
.Ourlegends-Five:hover::after,
.Ourlegends-Six:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.Ourlegends-Hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFD700;
    opacity: 0; 
    transition: opacity 0.5s;
    z-index: 2;
}

.Ourlegends-One:hover .Ourlegends-Hidden,
.Ourlegends-Two:hover .Ourlegends-Hidden,
.Ourlegends-Three:hover .Ourlegends-Hidden,
.Ourlegends-Four:hover .Ourlegends-Hidden,
.Ourlegends-Five:hover .Ourlegends-Hidden,
.Ourlegends-Six:hover .Ourlegends-Hidden {
    opacity: 1;
}
.Ourlegends-hiddenh3 {
    font-size: 40px;
    text-transform: uppercase;
    color: #FFD700;
}
.Ourlegends-hiddenP {
    font-size: 20px;
    margin-top: 10px;
    color: #FFFFFF;

}
.Ourlegends-hiddentwitter {
    font-size: 30px;
    margin-top: 10px;
    color: #FFD700;
}
.Whychooseus-Container {
    width: 100%;
    min-height: 1900px;
    background-color: #FFFFFF;
}

.Whychooseus-Parent {
    overflow: auto;
   
}
.Whychooseus-h2 {
    word-spacing: 10px;
    font-size: 60px;
    margin: 80px 0 10px 0;
    color: #0052A0;
    text-align: center;
}
.Whychooseus-p {
    width: 200px;
    background-color: #FFD700;
    height: 4px;
    margin: 10px auto 0 auto;
    border: none;
}
.Whychooseus-One,
.Whychooseus-Two,
.Whychooseus-Three,
.Whychooseus-Four,
.Whychooseus-Five,
.Whychooseus-Six {
    float: left;
    width: 24%;
    height: 300px;
    margin-top: 40px;
    margin-left: 5%;
    border-radius: 10px;
    position: relative;
    background-color: #FFFFFF;
    color: #0052A0;
    border: 2px solid #0052A0;
    box-sizing: border-box;
padding-left: 9px;
    padding-right: 17px;
}
.Whychooseus-One:after,
.Whychooseus-Two:after,
.Whychooseus-Three:after,
.Whychooseus-Four:after,
.Whychooseus-Five:after,
.Whychooseus-Six:after {
content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
background-color: rgba(0, 82, 160, 0.6);
    opacity: 0;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}
.Whychooseus-One:hover::after,
.Whychooseus-Two:hover::after,
.Whychooseus-Three:hover::after,
.Whychooseus-Four:hover::after,
.Whychooseus-Five:hover::after,
.Whychooseus-Six:hover::after
{
    width: 100%;
        height: 100%;
        opacity: 0.8;
    }

.Whychooseus-One,
.Whychooseus-Four {
    margin-left: 9%;
}

.Whychooseus-Three,
.Whychooseus-Six {
    margin-right: 9%;
}
.Whychooseus-Four,
.Whychooseus-Five,
.Whychooseus-Six {
    margin-top: 60px;
}
.Whychooseus-icon {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 42px;
    color: #FFD700;
}
.Whychooseus-secondh2 {
    font-size: 42px;
    margin-left: 90px;
    margin-top: 23px;
    color: #0052A0;
}

.Whychooseus-secondp {
    font-size: 27px;
    margin-left: 90px;
    margin-top: 10px;
    color:#333333;
}
.Whytrustus-bigdiv {
    height: 650px;
    width: 82%;
    border: 2px solid #FFFFFF;
    margin: auto;
    margin-top: 220px;
    overflow: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.Whytrustus-smalleftdiv {
    width: 50%;
    height: 100%;
    /* border: 2px solid #0052A0; */
    float: left;
    padding-top: 50px;
}

.Whytrustus-smallrightdiv {
    width: 50%;
    height: 100%;
    /* border: 2px solid #FFD700; */
    float: left;
    overflow: auto;
}

.Whytrustus-h2 {
    font-weight: bold;
    font-size: 50px;
    word-spacing: 5px;
    text-transform: capitalize;
    color: #0052A0;
}

.Whytrustus-hr {
    width: 90px;
    background-color: #FFD700;
    height: 4px;
    margin-top: 10px;
}

.Whytrustus-text {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 60px;
    /* color: #333333; */
   
}

.Whytrustus-check {
    color: #0052A0;
    font-size: 24px;
}

.Whytrustus-span {
    font-size: 24px;
}

.Whytrustus-img {
    width: 500px;
    height: 600px;
    margin-left: 282px;
}

.Whytrustus-circle1,
.Whytrustus-circle2,
.Whytrustus-circle3 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #0052A0;
    /* RM blue dots */
    float: left;
    margin-top: 14px;
}

.Whytrustus-circle1 {
    margin-left: 470px;
}

.Whytrustus-circle2,
.Whytrustus-circle3 {
    margin-left: 15px;
    background-color: #CCCCCC;
}
.Whytrustus-circle2:hover,
.Whytrustus-circle3:hover {
    background-color: #0052A0;
}
.trophies-container {
    width: 100%;
    height: 500px;
    background-image: url(../Images/ucl.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.trophies-parent {
    overflow: auto;
    width: 80%;
    margin: auto;
}

.trophies-icon-div {
    text-align: center;
    width: 25%;
    height: 100%;
    float: left;
    padding-top: 170px;
    
}

.trophy-icon {
 
    font-size: 50px;
    color: #FFD700; 
}

.trophy-firsttext {
    margin-top: 10px;
    font-size: 30px;
    color: white; 
    font-weight: bold; 
}

.trophy-secondtext {
    margin-top: 3px;
    font-size: 30px;
    color: white; 
    font-weight:bold;
}
